h3::before{
	content: "*"
}

h3::after{
	content: "*"
}

h4::before{
	content: "-"
}

h4::after{
	content: "-"
}

table{
	margin: 10px;
	width: 30vw;
	user-select: none;
}

td{
	display: table;
	display: inline-block;
}

td:nth-child(odd){
	text-align: center;
	margin-right: 2px;
}

td:nth-child(odd):hover{
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
	background-color: crimson;
}

td:nth-child(even) div:hover{
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
	background-color: aliceblue;
}

.done{
	text-decoration: line-through;
}
